---

dpkgs_info:
{% for pkg in erlang_pkgs %}
  - name: {{ pkg }}
    url: {{ erlang_dpkg_url }}/{{ pkg }}_{{ erlang_version }}_amd64.deb
    version: {{ erlang_version }}
{% if dpkg_tar_st is defined %}
    state: {{ dpkg_tar_st['results'][loop.index0].stat.exists | default(false) }}
{% endif %}
{% endfor %}
  - name: rabbitmq
    url: {{ rabbitmq_dpkg_url }}
    version: {{ rabbitmq_version }}
{% if dpkg_tar_st is defined %}
    state: {{ dpkg_tar_st['results'][0].stat.exists | default(false) }}
{% endif %}
