---

third_party_images:
  - repository: {{ kubernetes_image_repo }}/etcd
    tag: {{ etcd_version }}
    name: etcd
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][0].stat.exists | default(false) }}
{% endif %}
  - repository: {{ kubernetes_image_repo }}/kube-apiserver
    tag: {{ kube_version }}
    name: kube_apiserver
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][1].stat.exists | default(false) }}
{% endif %}
  - repository: {{ kubernetes_image_repo }}/kube-controller-manager
    tag: {{ kube_version }}
    name: kube_controller_manager
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][2].stat.exists | default(false) }}
{% endif %}
  - repository: {{ kubernetes_image_repo }}/kube-scheduler
    tag: {{ kube_version }}
    name: kube_scheduler
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][3].stat.exists | default(false) }}
{% endif %}
  - repository: {{ kubernetes_image_repo }}/kube-proxy
    tag: {{ kube_version }}
    name: kube_proxy
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][4].stat.exists | default(false) }}
{% endif %}
  - repository: {{ kubernetes_image_repo }}/coredns
    tag: {{ coredns_version }}
    name: coredns
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][5].stat.exists | default(false) }}
{% endif %}
  - repository: {{ kubernetes_image_repo }}/pause
    tag: {{ pause_version }}
    name: pause
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][6].stat.exists | default(false) }}
{% endif %}
  - repository: {{ flannel_image_repo }}/flannel
    tag: {{ flannel_version }}
    name: flannel
{% if image_tar_st is defined %}
    state: {{ image_tar_st['results'][7].stat.exists | default(false) }}
{% endif %}
