---

packages_info:
{% for name in names %}
  - name: {{ name.split('_', 1)[0] }}
    url: {{ nginx_url }}/{{ name }}
    version: {{ nginx_version }}
{% if package_file_st is defined %}
    state: {{ package_file_st['results'][loop.index0].stat.exists | default(false) }}
{% endif %}
{% endfor %}
