---

- name: create configuration file
  template: src={{ item[0] }}.conf.j2 dest={{ '{{' }} {{ item[0] }}_conf_dir {{ '}}' }}/{{ '{{' }} item[0]_conf_filename {{ '}}' }} owner={{ '{{' }} {{ item[0] }}_user {{ '}}' }}  group={{ '{{' }} {{ item[0] }}_user {{ '}}' }} mode=0644 backup=yes
  notify: restart {{ item[0] }}
