---

{{ item[0] }}_user: "{{ '{{' }} deploy_user {{ '}}' }}"
{{ item[0] }}_conf_dir: "{{ '{{' }} conf_dir {{ '}}' }}"

deployment_method: apt

# apt config
apt_packages:
  - package_name
 
# image config
image_name:
  - image_name

# binary config
binary_name:
  - binary_name
