---

# prepare
- name: create deploy directories
  file: path={{ '{{' }} item {{ '}}' }} state=directory owner={{ '{{' }} {{ item[0] }}_user {{ '}}' }} group={{ '{{' }} {{ item[0] }}_user {{ '}}' }} mode=0755
  with_items:
  - "{{ '{{' }} {{ item[0] }}_conf_dir {{ '}}' }}"

{% raw %}
# deployment
- include_tasks: "{{ deployment_method }}_deployment.yml"

# configure
- include_tasks: "configure.yml"
{% endraw %}
